PORT=5000
MONGO_URI=mongodb+srv://edwintyx2004_db_user:<PASSWORD>@cluster0.8kanshu.mongodb.net/kpi_management_system?retryWrites=true&w=majority&appName=Cluster0

//replace the <PASSWORD> to the password i sent in group
